.jumbo {
    height: 400px;
    width: 100%;
    background: url(../images/engine.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
@media only screen and (min-width: 768px) {
    .jumbo {
        height: 500px;
    }
}

.heading {
    position: absolute;
    top: 55px;
    left: 55px;    
    h1 {
        font-size: 48px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        line-height: 20px;
    }
    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 72px;
        }
        h3 {
            font-size: 48px;
        }
        p {
            font-size: 24px;
            line-height: 36px;
        }
    }
}
