footer {
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 0; 
    p {
        padding-left: 15px;
        font-size: 14px;
    }
}