@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Changa+One');

$main-font: 'Fira Sans Condensed', sans-serif;
$header-font: 'Changa One', cursive;

$primary-color: #f24333;
$text-color: #ffffff;