@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed");
@import url("https://fonts.googleapis.com/css?family=Changa+One");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

body {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #ffffff; }

h1, h3 {
  font-family: "Changa One", cursive;
  color: #f24333; }

.jumbo {
  height: 400px;
  width: 100%;
  background: url(../images/engine.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media only screen and (min-width: 768px) {
  .jumbo {
    height: 500px; } }
.heading {
  position: absolute;
  top: 55px;
  left: 55px; }
  .heading h1 {
    font-size: 48px; }
  .heading h3 {
    font-size: 24px; }
  .heading p {
    line-height: 20px; }
  @media only screen and (min-width: 768px) {
    .heading h1 {
      font-size: 72px; }
    .heading h3 {
      font-size: 48px; }
    .heading p {
      font-size: 24px;
      line-height: 36px; } }

.googlemap {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0; }
  .googlemap iframe {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }

footer {
  background-color: black;
  width: 100%;
  padding: 10px 0; }
  footer p {
    padding-left: 15px;
    font-size: 14px; }
